.app-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.app-header img {
  height: 60px;
  object-fit: contain;
}



.main-title {
  text-align: center;
  color: #0057b7; /* IEEE blue */
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}
.subtitle {
  text-align: center;
  font-size: 22px;
  color: #0057b7;
  margin-bottom: 20px;
}


.container {
  width: 430px;
  margin: 50px auto;
  padding: 30px;
  background: #e6f0ff; 
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.todo-item span {
  font-size: 18px;
}

.todo-item button {
  background: crimson;
  border: none;
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}
body {
  font-family: "Cairo", sans-serif;
}

button {
  background: #82b6ecff; 
}